{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Empresa List{% endblock %}

{% block body %}
{{parent()}}
<div class="count">
   Numero de empresas => {{ pagination.getTotalItemCount }}
</div>
<table class="table">
    <tr>
        {# sorting of properties based on query components #}
        
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.nombre') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Nombre', 'a.nombre') }}
        </th>
        <th{% if pagination.isSorted('a.telefono') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Telefono', 'a.telefono') }}
        </th>
        <th{% if pagination.isSorted('a.email') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Email', 'a.email') }}
        </th>
        <th{% if pagination.isSorted('a.sector2') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Sector', 'a.sector2') }}
        </th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.id }}</td>
            <td>{{ article.nombre }}</td>
            <td>{{ article.telefono }}</td>
            <td>{{ article.email }}</td>
            <td>{{ article.sector2 }}</td>
            <td><a href="{{'/edit_empresa/' ~ article.id}}" target="">Edit</a></td>
            <td><a href="{{'/predelete_empresa/' ~ article.id}}" target="">Delete</a></td>
            </tr>
    {% endfor %}
            <tr>
                <td colspan = "2"><a href="{{path('empresa')}}" class="btn btn-primary">Nueva Empresa</a></td>
                <td colspan = "5" class="center"><span class="navigation">{{ knp_pagination_render(pagination) }}</span></td>
            </tr>
</table>
{# display navigation #}
<table>
</table>

{% endblock %}
