{#Miguel Angel Martí Herranz#}
{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Edit User{% endblock %}

{% block body %}
{{parent()}}
{{ form_start(form) }}
<table>
    <tr>{{ form_row(form.email, {
        label: 'Email de Usuario',
        label_attr: {'value':user2.email},
        attr: {'placeholder':user2.email}
    }) }}</tr>
     <tr>{{ form_row(form.roles, {
        label: 'Rol de Usuario',
        attr: {'placeholder':user2.roles.0,
        'selected':user2.roles.0}
    })  }}</tr>
    <td>{{ form_row(form.update) }}</td></tr>
{{ form_end(form) }}</table>
<script>
$( document ).ready(function() {
    
    var sectores = new Array({{sectores}});

    $.each(sectores[0], function( index, value ) {
        $('#user_edit_sector_'+value).prop('checked',true);
    });
});
</script>
{% endblock %}
